<!DOCTYPE html>
html
  head
    title Base
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="js/chart2.js")
    style.

      .graph {
        display: inline-block;
        float: left;
        margin: 10px;
        border: 1px solid #cfcfcf;
      }

      .graph .title {
        font-size: 18px;
        text-align: center;
      }

      .graph .legend {
        padding: 3px;
        margin: 3px;
        display: flex;
      }
      .graph .legend span {
        font-variant: small-caps;
        margin: auto;
        padding: 2px 6px 6px;
        border-style: solid;
        border-width: 1px;
      }

      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

  body
